<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GKLModel -->
      <package
            uri="platform:/resource/gklSimSG/model/GKLModel.ecore"
            class="GKLModel.GKLModelPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GKL100Model -->
      <package
            uri="platform:/resource/gklSimSG/model/GKL100Model.ecore"
            class="GKL100Model.GKL100ModelPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GKL200Model -->
      <package
            uri="platform:/resource/gklSimSG/model/GKL200Model.ecore"
            class="GKL200Model.GKL200ModelPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GKL400Model -->
      <package
            uri="platform:/resource/gklSimSG/model/GKL400Model.ecore"
            class="GKL400Model.GKL400ModelPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GKL800Model -->
      <package
            uri="platform:/resource/gklSimSG/model/GKL800Model.ecore"
            class="GKL800Model.GKL800ModelPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GKLModel -->
      <package
            uri="platform:/resource/reactionContainer/model/reactionContainer.ecore"
            class="reactionContainer.ReactionContainerPackage"/>
   </extension>

</plugin>
